{:source-paths ["src"]

 :dependencies [[reagent "1.1.0"]]

 :nrepl
 {:port 3333}

 :builds
 {:app {:target     :esm
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :compiler-options {:output-feature-set :es-next}

        :modules {:main {:init-fn app.core/init}}

        :devtools {:before-load app.core/stop
                   :after-load  app.core/init
                   :http-root   "public"
                   :http-port   3000}}}}
